.days {
  background-image: url('https://source.unsplash.com/random/100x100');
  filter: grayscale(100%);
  background-color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.9);

  height: 100px;
  width: 100px;
  margin: 5px;
  color: whitesmoke;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.days h2 {
  color: whitesmoke;
  font-size: 3em;
  margin: -20px;
}
